<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>API do Entra 21</title>
</head>
<body>
<p>&nbsp;</p>
<h2 style="text-align: center;"><strong>API - Descruba a capital <br /></strong></h2>
<h2 style="text-align: center;"><strong><img src="https://i.ytimg.com/vi/BfxMDiAoAqU/maxresdefault.jpg" alt="" width="414" height="233" /><br /></strong></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>API desenvolvida durante o entra 21 - 2022. Python Vespertino SENAC Blumenau.</p>
<p>Para utilizar a API, preencha ao final deste site, o n&uacute;mero do pa&iacute;s da Am&eacute;rica so sul de sua escolha, para obter sua capital:</p>
<ol>
<li>Argentina</li>
<li>Bol&iacute;via</li>
<li>Brasil</li>
<li>Chile</li>
<li>Col&ocirc;mbia</li>
<li>Equador</li>
<li>Guiana</li>
<li>Paraguai</li>
<li>Peru</li>
<li>Suriname</li>
<li>Uruguai</li>
<li>Venezuela</li>
<li>Guiana Francesa (um territ&oacute;rio ultramarino da Fran&ccedil;a).</li>
</ol>
<p>&nbsp;</p>
<p><span style="color: #000000;">API desnvolvida por Ana Carolina Vieira da Costa</span></p>
<p><strong>&nbsp;</strong></p>
</body>
</html>